<!DOCTYPE html>
<html>
  <head>
    <audio id="audio2">
     <source src="null" type="audio/mpeg">
    </audio>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body bgcolor="171717">
    <h1 style="color:white">kAREN</h1>
    <h3 style="color:white">A web implementation of <a href="https://github.com/gunthercox/ChatterBot">ChatterBot</a>.</h3>
	<style>
    .shadowfilter {
    -webkit-filter: drop-shadow(12px 12px 7px rgb(0, 255, 0));
     filter: drop-shadow(12px 12px 7px rgb(0, 255, 0));
}

.bottleimage {
    width: 500px;
}

.report {
    position:absolute;
    bottom:10px;
    right:10px;
}

</style>
	<image align="right" class="shadowfilter bottleimage" src="/static/images/karen.png" height="420" width="420"></image>
    <div>
      <div id="chatbox">
        <p class="botText"><span>Hi! I'm kAREN!</span></p>
      </div>
      <div id="userInput">
        <input style="background:rgb(17, 17, 17); color:white" id="textInput" type="text" name="msg" placeholder="Message">
        <input id="buttonInput" type="submit" value="Send">
      </div>
	  <div class="report">
	  <a href="#" onclick="reportRogueKaren()" style="color:white">Report rogue karen       </a>
    </div>

    <script src="/static/js/rogue.js"></script>


<!-- might be used later for themes
      <div align="right">
      <button type="button" onclick="myFunction()">Set background color</button>
      </div>
      <script>
      function myFunction() {
        document.body.style.backgroundColor = "red";
      }
      </script>
-->
      <script src="/static/js/ooga.js"></script> <!-- I. FUCKING. LOVE. JAVASCRIPT. -->
    </div>
  </body>
</html>
